<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatroom</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>
  <body>
    <h1 id="head">Chatroom</h1>
    <div id="user">
      <input type="text" id="username" />
      <button id="change">Change username</button>
    </div>
    <div id="chat_section"></div>
    <div id="message_section">
      <input type="text" id="message" />
      <button id="msg_btn">Send Message</button>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
