#head {
  color: blue;
  text-align: center;
}
#user {
  text-align: center;
}
#chat_section {
  height: 500px;
  max-width: 100vw;
  padding: 20px;
  margin-top: 20px;
  border: 8px dashed blue;
  border-radius: 20px;
  overflow-y: scroll;
}
#message_section {
  margin: 20px;

  height: 100px;
  text-align: center;
}
#message {
  max-width: 100vw;
  height: 40px;
}
